*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
/bower_components/


ad.js
TODO
/1beifen/

/jsplugin/baidu/ueditor_jsp/
/webplugin/fs_upload/bootstrap_fileinput/bootstrap-fileinput-master/

/mydocs/*
