.fs-loading { position: absolute; left: 0px; right: 0px; top: 0px; width: 100%; height: 100%; background: none; box-shadow: none; border: none; }
/* fs-load 默认显示的gif；如果用户输入的类型不对也会播放它 */
.fs-load { width: 260px; height: 68px; background: url(loadingImg/loading.gif) no-repeat; margin: auto; position: absolute; left: 0px; right: 0px; top: 20px; }
.fs-loading .fs-load-0 { width: 260px; height: 68px; background: url(loadingImg/loading.gif) no-repeat; }

/* 清除浮动 */
.fs-clearfix { clear: both; content: ""; display: block; height: 0; line-height: 0; font-size: 0; }
/* 居中 */
.fs-loading-center .fs-load { top: 20%; }
/* 遮掩层 */
.fs-cover-layer { position: absolute; width: 100%; height: 100%; top: 0px; background-color: white; opacity: 0.5; }
