html {
    background: white;
    overflow: hidden;
    height: 100%;
    /*height: 767px;*/
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-right: 17px;
}

.memo-con {
    position: relative;
}
.ztree {
    width: 48%;
    position: absolute;
    top: 0px;
}
#treeSoftwareF {
    right: 0px;
}


